/*AlEX RIVAS*/

html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(140deg, #38ebeb, #5d68ff, rgb(182, 13, 154)); ;
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    display: flex;
    height: inherit;
    justify-content: center;
}

.all-calc{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur (5px);
    -webkit-backdrop-filter:blur(5px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    flex-basis: 400px;
    height: 600px;
    padding: 35px 35px;
}

.screen{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    font-size: 30px;
    padding: 20px;
}

.botones-calc-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.boton-calc{
    backdrop-filter: blur(5px);
    -webkit-animation: blur(5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    font-size: 22px;
    padding: 20px 10px;
    width: 20%;
    height: 75px;
}
.boton-calc:last-child{
    backdrop-filter: blur(5px);
    -webkit-animation: blur(5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: rgb(255, 255, 255);
    background: rgb(216, 21, 216);
    font-size: 40px;
}

.boton-calc:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.boton-calc:hover{
    background-color: inherit;
    color: inherit;
}

.boton-calc:active{
    background-color:rgb(147, 215, 255);
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 75%;
}
/*AlEX RIVAS*/